---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { Fragment } from 'astro/jsx-runtime';

const title = "Oil and Gas Terms - K | MineralWise";
const description = "SaaS Startup Site Template eays to customize";

const content = "<div>";
---

<BaseLayout title={title} description={description}>
	<article class="content-wrapper">
		<div class="content-section">
			<Fragment set:html={content} />
		</div>
	</article>
</BaseLayout>
