---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Fragment } from 'astro/jsx-runtime';

const title = "adstxt | MineralWise";
const description = "SaaS Startup Site Template eays to customize";

const content = "<div>\n    <section id=\"gJpj_JHuyUSS_gJpj_JHuyUSS\"><div><div><div><div><div><p><a href=\"https://cloud-1de12d.becdn.net/customfile/69dd318c443544929f395fc92b337477e9836bb88b5d4c36a218f6327a38fbc1/ads.txt\">Ads.txt File</a></p></div></div></div></div></div></section>";
---

<BaseLayout title={title} description={description}>
	<article class="content-wrapper">
		<div class="content-section">
			<Fragment set:html={content} />
		</div>
	</article>
</BaseLayout>
