---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Fragment } from 'astro/jsx-runtime';

const title = "Discover Expert Insights on Minerals, Royals, and More | MineralWise";
const description = "Visit MineralWise.com for expert information on minerals, royalty interests, and resources. Stay informed with our up-to-date content and explore industry insights today!";

const content = "<div>\n    <section id=\"wlzATP3GRYzc_wlzATP3GRYzc\"><div><div><div><div><div><h1><span>Contact Us</span></h1></div></div></div><div><div><div><p><span>Thank you for visiting MineralWise.com. We love hearing from our visitors.&nbsp;Contact us with the form below.</span></p></div></div></div></div></div></section>";
---

<BaseLayout title={title} description={description}>
	<article class="content-wrapper">
		<div class="content-section">
			<Fragment set:html={content} />
		</div>
	</article>
</BaseLayout>
