---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Fragment } from 'astro/jsx-runtime';

const title = "Grantor | MineralWise";
const description = "A person who grants or conveys lands, minerals, etc.";

const content = "<div>\n    <section id=\"bB_BBNEYGX6g_bB_BBNEYGX6g\"><div><div></div><div><div><div><div><div></div><div><div><div><div><p><span>Oil &amp; Gas Terms</span></p></div></div></div><div><div><div><p>Grantor</p></div></div></div><div><div><div><p></p><p>A person who grants or conveys lands, minerals, etc.</p><p></p></div></div></div></div></div></div></div><div><div><hr></div></div><div><div><div><div><div><div><div><p><span>Previous Term</span></p></div></div></div><div><div><a target=\"_self\" rel=\"noopener\" href=\"/gun-barrel-separator\"><div><p>Gun Barrel Separator</p></div></a></div></div></div></div><div><div><div><div><div><p><span>Next Term</span></p></div></div></div><div><div><a target=\"_self\" rel=\"noopener\" href=\"/grantee\"><div><p>Grantee</p></div></a></div></div></div></div></div></div><div><div><div><p><a class=\"link--page\" href=\"/all-oil-and-gas-terms\">View all Oil &amp; Gas Terms</a></p></div></div></div></div></div></section>";
---

<BaseLayout title={title} description={description}>
	<article class="content-wrapper">
		<div class="content-section">
			<Fragment set:html={content} />
		</div>
	</article>
</BaseLayout>
