---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Fragment } from 'astro/jsx-runtime';

const title = "Receive a No-Obligation Cash Proposal for Your Mineral Interests | KED Interests, LLC";
const description = "Discover the value of your mineral interests with KED Interests, LLC. Get a free, secure, and no-obligation cash proposal evaluated in-house by trusted professionals. Contact us today!";

const content = "<div>\n    <section id=\"tm09wVN1RtFa_tm09wVN1RtFa\"><div><div><div><div><div><h3><span>Receive a Free, No Obligation Cash Proposal</span></h3><p><span>We will need certain information to help us estimate a value for your mineral interests. Please fill out this information completely. Your information will remain private and secure.  We evaluate your interests in-house, and make purchases for our own account (ie, our business is not that of selling \"leads\".) We value personal interaction with our clients. We will call to speak with you personally before proceeding with an evaluation.  </span></p></div></div></div><div id=\"form\"><div><div><p><span>Request your no-obligation, cash proposal</span></p><p><span>Fill out the form below and we will get back to you soon.</span></p></div></div></div><div><div><div><div><iframe aria-label=\"Receive Cash Proposal - MineralWise\" frameborder=\"0\" style=\"height:1200px;width:99%;border:none;\" src=\"https://forms.zohopublic.com/kedinterestsllc/form/ReceiveCashProposalMineralWise/formperma/veMc3DbHc4HmORjCb2YBCKKoSFnIK5RoN30BiOYJ0n8\"></iframe></div></div></div></div></div></div></section>";
---

<BaseLayout title={title} description={description} adConfig="none">
	<article class="content-wrapper">
		<div class="content-section">
			<Fragment set:html={content} />
		</div>
	</article>
</BaseLayout>
